@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .center {
      @apply flex justify-center items-center;
    }
  }

  @layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

